@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// html{
//     // one met le font size a 62.5% sur le html pour que 10px équivaut à 1rem
//     font-size: 62.5%;
// }

:root {
    @font-face {
        font-family: 'poppins-regular';
        src: url(/public/fonts/Poppins-Regular.ttf);
    }
    @font-face {
        font-family: 'poppins-semibold';
        src: url(/public/fonts/Poppins-SemiBold.ttf);
    }
    
    font-family: 'poppins-regular', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.text-gradient {
    background: linear-gradient(90deg, #80D4F8 0%, #8D4ED8 31.13%, #FF6A60 67.49%, #FC1616 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}

.border-gradient {
    background: linear-gradient(#F3EDFB, #F3EDFB) padding-box,
    linear-gradient(90deg, #80D4F8 0%, #8D4ED8 31.13%, #FF6A60 67.49%, #FC1616 100%) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}